@using Teacherlog.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2><a asp-area="" asp-controller="Home" asp-action="CreateClas">Create Class</a></h2>
    <h2><a asp-area="" asp-controller="Home" asp-action="CreateComment">Create Coment</a></h2>
    <h2><a asp-area="" asp-controller="Home" asp-action="CreateCourse">Create Course</a></h2>
    <h2><a asp-area="" asp-controller="Home" asp-action="CreateGrate">Create Grade </a></h2>
    <h2><a asp-area="" asp-controller="Home" asp-action="CreateStudent">Create Student</a></h2>
    <h2><a asp-area="" asp-controller="Home" asp-action="CreateTeacher">Create Teacher</a></h2>
</div>
